<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>半夜集 {% block title %}{% endblock %}</title>
    {% block sytle %}
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/alertifyjs-alertify.js/1.0.11/css/alertify.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/base.css">
    {% endblock %}
</head>
<body>
{% block nav %}
    <nav class="flex-box fadeIn">
        <a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>主页</a>
        <a href="#category/all"><i class="fa fa-book fa-fw" aria-hidden="true"></i>所有文章</a>
        <a href="#category/python"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>Python</a>
        <a href="#category/javascript"><i class="fa fa-magic fa-fw" aria-hidden="true"></i>JavaScript</a>
        <a href="#category/mind"><i class="fa fa-tint fa-fw" aria-hidden="true"></i>杂谈</a>
        <a href="#detail/1"><i class="fa fa-user fa-fw" aria-hidden="true"></i>关于</a>
    </nav>
{% endblock %}

{% block body %}

{% endblock %}

{% block script %}
    <script src="https://cdn.bootcss.com/alertifyjs-alertify.js/1.0.11/js/alertify.js"></script>
    <script src="/static/js/iv.js"></script>
{% endblock %}
</body>
</html>