{% extends 'base.html' %}

{% block title %}
    详情页
{% endblock %}

{% block sytle %}
    {{ super() }}
    <link rel="stylesheet" href="../../static/article/css/detail.css">
    <link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/github.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="id-article-container" data-id="{{ id }}" class="fadeIn slideDown">
        <article>

        </article>
        <div id="id-comment-container">
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <!-- js file -->
    <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdn.bootcss.com/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="https://cdn.bootcss.com/nunjucks/3.0.0/nunjucks.js"></script>
    <script src="../../static/js/iv-md.js"></script>
    <script src="../../static/article/js/detail.js"></script>
{% endblock %}
