#id-articles-container {
    margin: 40px auto 40px;
    width: 800px;
    height: 100%;
}

.article-cell {
    width: 100%;
    margin: 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article-title {
    margin: 20px 0 0 0;
}

.article-link {
    font-size: 1.4rem;
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #111;
}

a {
    color: #777;
}

.article-info {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 10px 0 10px 0;
}

.article-overview {
    margin: 5px 0 15px 0;
}

.article-detail::after {
    content: '»';
}

.article-detail a {
    text-decoration: none;
}

.article-detail {
    border-bottom: 1px solid #aaa;
}
