{% extends 'base_header.html' %}

{% block title %}
    用户页
{% endblock %}

{% block sytle %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div id="id-action-container">
    <div class="user-container">
        <input class="input-info" type="text" name="username">
        <input class="input-info" type="text" name="mailbox">
        <input class="input-info" type="text" name="password">
        <button class="user-action" type="submit" data-action="register">register</button>
    </div>
    <div class="user-container">
        <input class="input-info" type="text" name="username">
        <input class="input-info" type="password" name="password">
        <button class="user-action" type="submit" data-action="login">login</button>
    </div>
</div>
{% endblock %}
    <script src="../../static/user/js/index.js"></script>
{% block script %}
{% endblock %}
