<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>半夜集 - 用户页</title>
</head>
<body>
<div id="id-action-container">
    <div class="user-container">
        <input class="input-info" type="text" name="username">
        <input class="input-info" type="text" name="mailbox">
        <input class="input-info" type="text" name="password">
        <button class="user-action" type="submit" data-action="register">register</button>
    </div>
    <div class="user-container">
        <input class="input-info" type="text" name="username">
        <input class="input-info" type="password" name="password">
        <button class="user-action" type="submit" data-action="login">login</button>
    </div>
</div>
<script src="../../static/js/iv.js"></script>
<script src="../../static/user/js/index.js"></script>
</body>
</html>